[Desktop Entr
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Utility;MATE;
Comment[en_US]=Luxarg - MATE-DESKTOP Editor
Comment=Luxarg - MATE-DESKTOP Editor
Exec=gjs main.js
GenericName[en_US]=Sci-Fi Text Editor
GenericName=Sci-Fi Text Editor
Icon=luxarg
Name[en_US]=Luxarg - MATE-DESKTOP Editor
Name=Luxarg - MATE-DESKTOP Editor
StartupNotify=true
StartupWMClass=luxarg
Type=Application
